

  <!-- Footer -->
  <footer class="py-5">
      <div class="container">
        <p class="m-0 text-center text-white">This is an open source project. Feel free to copy, edit, or contribute!</p>
      </div>
  </footer>

  
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="js/tooltips.js"></script>



  </body>
  
  </html>
  