<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="A simple web app to track your daily progress, inspired by the GitHub contribution graph and powered by Google Sheets.">
  <meta name="author" content="Anne-Laure Le Cunff">

  <title>Pixel Progress</title>

  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">


  <!-- Custom styles -->
  <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
  

</head>

<body>



       
